.about-me-container {
    width: 400px;
    display: inline-block;
    
}
.about-me-edit-btn{
    cursor: pointer;
}

.active {
    background-color: rgb(126, 22, 38, .1);
}

.active-hobbies{
    background-color: rgb(126, 22, 38, .1);

}