* {
  font-family: "Courier New", Courier, monospace;
  overflow: hidden;
}

.outer-profile-container {
<<<<<<< HEAD
    width: 30%;
}

.profile-container {

    border-radius: 5rem;
    padding: 10px;
    top: 60%;
    position: relative;
    display: flex; 
    min-width: 50%;
    min-height: 200px;
    max-width: 200px;
}
.profile-img-container{

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile-img{
    width: 168px;
    height: 168px;
    text-align: center;
    width: 60%;
}
.profile-img-input{
    padding-left: 40px;
}

.btn-upload-photo{
    position: absolute;
    top: 60px;
    left: 50px;
}

.btn-delete-user-photo{
   
    position: absolute;
    left: 100px;
    top:50px;
    background-color: red;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
   
}
.profile-img-container img{
    display: inline-block;
    border-radius: 50%;
    
}


=======
  overflow: hidden;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  /* background-image: url(../../assets/flare-logo.png); */
  background-size: cover;
  position: relative;
}

.profile-container {
  border-radius: 5rem;
  padding: 10px;
  top: 60%;
  position: relative;
  background-color: white;
  margin: 0px 50% 0px 30%;
  display: flex;
  min-width: 50%;
}
.profile-img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-img-container img {
  border-radius: 50%;
}

.profile-details-container {
  display: flex;
  margin: auto;
  gap: 20px;
}

>>>>>>> 47bef62f1ea5ee7b7c5d68a0aeb3397fd8db2647
.profile-text-area {
  width: 100%;
}

.btn-upload-photo {
  width: 20%;
}

.text-black {
  color: black;
}

<<<<<<< HEAD

=======
.btn-delete-user-photo {
  margin: 0 auto 0 auto;
  font-size: small;
  text-align: center;
  width: fit-content;
  background-color: rgb(42, 42, 42, 0.2);
}
>>>>>>> 47bef62f1ea5ee7b7c5d68a0aeb3397fd8db2647

.btn-upload-photo {
  background-color: aqua;
  width: fit-content;
}

.app-user-posts-container {
  margin: auto;
  padding-top: 20px;
  justify-content: center;
}

.profile-recent-posts {
  text-align: center;
}
