* {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

.outer-profile-container {
    width: 30%;
}

.profile-container {

    border-radius: 5rem;
    padding: 10px;
    top: 60%;
    position: relative;
    display: flex; 
    min-width: 50%;
    min-height: 200px;
    max-width: 200px;
}
.profile-img-container{

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.profile-img{
    width: 168px;
    height: 168px;
    text-align: center;
    width: 60%;
}
.profile-img-input{
    padding-left: 40px;
}

.btn-upload-photo{
    position: absolute;
    top: 60px;
    left: 50px;
}

.btn-delete-user-photo{
   
    position: absolute;
    left: 100px;
    top:50px;
    background-color: red;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
   
}
.profile-img-container img{
    display: inline-block;
    border-radius: 50%;
    
}


.profile-text-area {
   
    width: 100%
}

.btn-upload-photo{
    
      width: 20%;
}

.text-black {
    color: black;
}



.btn-upload-photo{

    background-color: aqua;
    width: fit-content;
}


.app-user-posts-container{
    margin: auto;
    padding-top: 20px;
    justify-content: center;
}

.profile-recent-posts{
    text-align: center;
}