<div class="outer-profile-container">
    <div class="outer-profile-container-logo">
    </div>
    <div class="profile-container">
        <div class="profile-img-container" data-testid="profile-image-container" (mouseenter)="showDeleteBtn()" (mouseleave)="showDeleteBtn()">
            <div [hidden]="!userProfile.image">
                <img class="profile-img" src="{{userProfile.image}}" />
                <div class="btn btn-delete-user-photo" [hidden]="!isDeleteBtn"
                    (click)="deleteProfilePhoto()" >Delete photo</div>
            </div>
            <div class="profile-img-input">
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" (change)="setPhoto($event)"
                    value="upload user photo" [hidden]="userProfile.image" >
                <div class="btn btn-upload-photo" (click)="uploadPhoto()" [hidden]="userProfile.image">Upload A Profile Photo
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<app-profile-details [myHobbies]="userProfile.hobbies" [myInterests]="userProfile.interests" [myAboutMe]="userProfile.aboutMe"></app-profile-details>
<hr/>

<div class="app-user-posts-container">
    <div class="profile-recent-posts">
        <h2>My Recent Posts</h2>
    </div>
    <app-users-posts></app-users-posts>
</div>