<div class="outer-profile-container">
  <div class="outer-profile-container-logo"></div>
  <div class="profile-container">
    <div class="profile-img-container" data-testid="profile-image-container">
      <img
        class="profile-img"
        src="{{ userProfile.image }}"
        alt="userProfile"
      />
      <!-- if user adds a new photo use api delete route, delete photo and upload new one -->
      <input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/png, image/jpeg"
        (change)="setPhoto($event)"
        value="upload user photo"
        [hidden]="userProfile.image"
      />

      <div
        class="btn btn-delete-user-photo"
        *ngIf="userProfile?.image; else noPhotoSet"
        (click)="deleteProfilePhoto()"
      >
        Delete photo
      </div>

      <!-- changes text to upload photo when a user image is not retrieved -->
      <ng-template #noPhotoSet>
        <div class="btn btn-upload-photo" (click)="uploadPhoto()">
          Upload Photo
        </div>
      </ng-template>
    </div>

    <div class="profile-details-container">
      <div class="profile-about-me">
        <h2 class="profile-about-me-title text-black">About Me</h2>
        <p class="profile-about-me-text text-black">
          {{ userProfile.aboutMe }}
        </p>
        <textarea
          class="about-me-text-area profile-text-area"
          *ngIf="!userProfile?.aboutMe"
        ></textarea>
      </div>
      <div class="profile-hobbies">
        <h2 class="text-black">My Hobbies</h2>
        <ul class="text-black">
          <li *ngFor="let hobby of userProfile?.hobbies" class="text-black">
            {{ hobby }}
          </li>
        </ul>
        <textarea
          class="hobbies-text-area profile-text-area"
          *ngIf="!userProfile?.hobbies"
        ></textarea>
      </div>
      <div class="profile-interests">
        <h2 class="text-black">Interests</h2>
        <ul class="text-black">
          <li
            *ngFor="let interest of userProfile?.interests"
            class="text-black"
          >
            {{ interest }}
          </li>
        </ul>
        <textarea
          class="interests-text-area profile-text-area"
          *ngIf="!userProfile?.interests"
        ></textarea>
      </div>
    </div>
  </div>
</div>
<hr />
<app-profile-details [myHobbies]="userProfile.hobbies" [myInterests]="userProfile.interests" [myAboutMe]="userProfile.aboutMe"></app-profile-details>
<hr/>

<div class="app-user-posts-container">
  <div class="profile-recent-posts">
    <h2>My Recent Posts</h2>
  </div>
  <!-- <app-users-posts></app-users-posts> -->
</div>
