* {
  font-family: "Courier New", Courier, monospace;
}

.outer-profile-container {
  width: 50%;
  margin: auto;
  height: fit-content;
  background-size: cover;
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-img {
  width: 168px;
  height: 168px;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.no-profile-img {
  height: 20px;
}

.btn-upload-photo {
  width: 20%;
}

.btn-delete-user-photo {
  position: absolute;
  top: 50%;
  left: 19.5%;
  margin: 0 auto 0 auto;
  font-size: small;
  text-align: center;
  width: fit-content;
  background-color: rgba(141, 26, 26, 1);
}

.btn-upload-photo {
  position: absolute;
  top: 50%;
  left: 19.5%;
  background-color: rgb(23, 24, 26, 0.4);
  color: black;
  width: fit-content;
}

.profile-details-container {
  width: 50%;
}

.app-user-posts-container {
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 20px;
  justify-content: center;
}

.profile-recent-posts {
  text-align: center;
}

.photo-label {
  padding: 20px;
  display: block;
  border: 1px solid black;
  height: 200px;
}

.photo-input {
  display: none;
}

.btn-create-post{
  margin: 10px;
  background-color: rgba(22, 22, 126, 0.5);
}

.btn-hide-post{
  margin: 10px;
  background-color: rgba(22, 22, 126, 0.5);
}