<form [formGroup]="postForm">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-text" for="title">Title</span>
      <input
        name="title"
        type="text"
        class="form-control"
        formControlName="title"
      />
    </div>
    <div class="input-group">
      <span class="input-group-text" for="text">Body</span>
      <textarea
        name="text"
        id="post-body"
        class="form-control"
        formControlName="text"
      ></textarea>
    </div>
    <div class="input-group">
      <span class="input-group-text" for="img">Image</span>
      <input
        name="img"
        type="file"
        class="form-control"
        formControlName="image"
      />
    </div>
    <button class="btn btn-primary" type="submit" (click)="submitForm()">
      Submit
    </button>
  </div>
</form>
