.fire {
    cursor: pointer;
    opacity: 50%;
}

.fire.unliked{
    content: url("../../../../assets/like/fire-black.svg");
}

.fire.liked{
    opacity: 100%;
    content: url("../../../../assets/like/fire-red.svg");
}