<div class="post-container">
  <div
    class="btn btn-create-post"
    (click)="showCreatePost()"
    *ngIf="!createPost"
  >
    Create Post
  </div>
  <div class="btn btn-hide-post" (click)="showCreatePost()" *ngIf="createPost">
    Back
  </div>
  <app-post [hidden]="!createPost" class="app-post"></app-post>
</div>
<div
  class="container d-flex flex-column justify-content-center align-items-center post-feed-component"
>
  <app-post-feed-item
    *ngFor="let post of posts"
    [post]="post"
    (deletePost)="deletePost($event)"
    class="align-self-stretch"
  ></app-post-feed-item>
</div>
