<div class="container">
  <header>
    <h1>
  Flare
    </h1>

  </header>


  <ul class="nav">
    <li class="nav-item nav-link">
      <a class="nav-link active" aria-current="page" routerLink="/login">Log in</a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link" routerLink="/register">Register</a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link" routerLink="/profile">Profile</a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link" routerLink="/post">Post</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
